@model App.ViewModels.DetailRaceViewModel


<link rel="stylesheet" href="~/css/carrousel.css" asp-append-version="true" />
<div>
                
<h2>Nom de la course :  @Model.Race.Name</h2>
<img alt="Qries" src=@Model.Race.Image width=500" height="200">
<h3>Longitude : @Model.Race.Longitude</h3>
<h3>Latitude : @Model.Race.Latitude</h3>
<h3>Nb participants : @Model.Race.Place</h3>
<h3>Age : @Model.Race.AgeLimit</h3>