@model App.ViewModels.RaceListViewModel

@{
    ViewData["Title"] = "Mes courses";
    ViewBag.Toto = "lol";
    
}

<h1>@Model.HeaderTitle</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Race Name
            </th>
            <th>
                Date
            </th>
            <th>
                Number of Place
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RaceList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.EventDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                @Html.ActionLink("Details", "Details", new { item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { item.Id }) |
                @Html.ActionLink("Inscription", "Inscription", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
